.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 4px solid #234209;
  background-color: #3f7611;
  border-radius: 3px;
  -moz-box-shadow: 0 0 20px 1px #6a9c42;
  -webkit-box-shadow: 0 0 20px 1px #6a9c42;
  box-shadow: 0 0 20px 1px #6a9c42;

}

body {
  background-color: #ddedd0;
}

h1 {
  text-align: center;
  padding: 0px 10px 10px 10px;
  border-bottom: 2px solid #c7dab8;
  font-size: 2.500em;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

a:link {
  color: #2a4f0b;
}

a:visited {
  color: #1c3407;
}

a:hover {
  color: #c7dab8;
}

a:active {

}

input {
  text-indent: 5px;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 2px
}

li {
  list-style-type: none;
  padding: 5px 0;
}

button {
  padding: 5px 15px;
  margin: 0 15px;
  width: 40%;
  border-color: #7da859;
  border-radius: 5px;
  background-color: #ddedd0;
  display: inline;
}

button a:hover {
  color: #0e1a03;
  font-size: 21px;
}


/*----RONS STYLING FOR NAV BAR------*/

th {
  text-align: left;
}

div.topnav {
  background-color: black;
  padding: 15px 40px;
}

nav div {
  display: inline-block;
}

.topnav a{
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

nav a:hover {
  color: yellow;
}

div#toggling-nav {
  float: right;
}

div#signout {
  float: right;
}

input#signout-button {
  text-decoration:none;
  background-color: black;
  color: white;
  border: 0px none;
  text-align:center;
  padding: 0px 6px;
  /* Fixes extra padding issue in IE */
  width:auto;
  overflow:visible;
}

input#signout-button:hover {
  color: yellow;
}


table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

p#error-message {
  color: red;
}

#deck-nav li {
  list
}
