.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  background-color: #f4f4f4;
  border-radius: 3px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #eeeeee;
  font-size: 2.5em;
  font-family: 'PT Mono', sans-serif;
}

#welcome { 
  font-size: 1.25em;
  font-family: 'PT Mono', sans-serif;
}

#welcome h2 {
  margin: 7px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 10px;
}

#deck-nav {
  margin-left: -40px;
  text-align: center;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
}

#create-new {
  margin-right: 0px;
}

#create-new button {
  float: left;
  margin-bottom: 20px;
}


#my-decks button {
  float: right;
  margin-left: 0px;
  margin-bottom: 20px;
}

#stats {
  clear: both;
  border-top: 2px solid #eeeeee;
}

#stats h2 {
  padding: 5px 0 0 0;
  margin-top: 20px;
  font-size: 1.6em;
  margin-bottom: 5px;
}

#my-decks-list {
  margin-left: -40px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #fc9b18;
}

input {
  text-indent: 5px;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 2px
}

li {
  list-style-type: none;
  padding: 5px 0;
}

button {
  padding: 5px 15px;
  margin: 0 15px;
  width: 40%;
  border-radius: 5px;
  color: black;
  display: inline;
}

button a:hover {
  color: white;
  font-size: 21px;
}

button#create-new-deck {
  color: black;
}

button#create-new-card {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-crud h2, #current-q h2{
  padding-top: 10px;
}

#signup-button {
  border-radius: 5px;
}

/*----RONS STYLING FOR NAV BAR------*/

th {
  text-align: left;
}

div.topnav {
  background-color: black;
  padding: 15px 40px;
}

nav div {
  display: inline-block;
}

.topnav a{
  color: white;
}

.show-cards th{
  text-align:center;
}

.show-cards td {
  text-indent: 15px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

nav a:hover {
  color: yellow;
}

div#toggling-nav {
  float: right;
}

div#signout {
  float: right;
}

input#signout-button {
  text-decoration:none;
  background-color: black;
  color: white;
  border: 0px none;
  text-align:center;
  padding: 0px 6px;
  /* Fixes extra padding issue in IE */
  width:auto;
  overflow:visible;
}

input#signout-button:hover {
  color: yellow;
}


table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

p.error-message {
  color: red;
}

#deck-nav li {
  list
}
