.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

div.topnav {
  background-color: black;
  padding: 15px 10px;
}

nav div {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

nav a:hover {
  color: yellow;
}

div#toggling-nav {
  float: right;
}

div#signout {
  float: right;
}

input#signout-button {
  text-decoration:none;
  background-color: black;
  color: white;
  border: 0px none;
  text-align:center;
  padding: 0px 6px;
  /* Fixes extra padding issue in IE */
  width:auto;
  overflow:visible;
}

input#signout-button:hover {
  color: yellow;
}


table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

p#error-message {
  color: red;
}

