<div class="topnav">
  <nav>
      <div><a href='/dashboard'>Dashboard</a></div>
      <% if session[:user_id] %>
        <div id="signout"><form method="post" action="/signout">
          <input id="signout-button" type="submit" value="Sign Out"/>
        </form></div>
      <% else %>
        <div id="toggling-nav"><a href='#'>Login</a></div>
      <% end %>
  </nav>
</div>