<div class='container'>

  <h1><%= @card.question %></h1>
  <h4>Type your answer into each flashcard</h4>
  <form action='/current_game/<%= @round.id %>/<%= @card.id %>' method='post'>
    <input type="text" placeholder="What's the answer?" name="response"/>
    <button type='submit'>Next Card</button>
  </form>

</div>
