<div class = "container">

	<div>
		<h1>Dashboard</h1>
		<h2>Welcome, <%= @user.first_name%>!</h2>
	</div>

	<div>
		<h2>Pick a deck:</h2>
			List all available decks:
		<ul>
			<% @decks.each do |deck| %>
				<li><a href="/start_game/<%= deck.id %>"><%= deck.name %></a></li>
			<% end %>
		</ul>
	</div>

	<div>
		<h2><a href="/deck/new">Create a New Deck</a></h2>
	</div>

	<div>
		<h2><a href="/deck/update">Manage My Decks</a></h2>
	</div>

	<div>
		<h2>Your Stats</h2>


	</div>

</div>
