<div class="container">
  
  <div class="login-form">
    <h2>Login</h2>
    <form method="post" action ="/login">
      <div><input type="text" name="email" placeholder="Email" /></div>
      <div><input type="password" name="password" placeholder="Password" /></div>
      <div id="login-button"><input type="submit" value="Login" /></div>
    </form>
  </div>

  <div class="signup-form">
    <h2>Sign Up</h2>
    <form method="post" action="/signup">
      <div><input type="text" name="user[first_name]" placeholder="First Name" /></div>
      <div><input type="text" name="user[last_name" placeholder="Last Name" /></div>
      <div><input type="text" name="user[email]" placeholder="Email" /></div>
      <div><input type="password" name="user[password]" placeholder="Password" /></div>
      <div><input type="password" name="verify_password" placeholder="Verify Password" /></div>
      <div id="signup-button"><input type="submit" value="Sign Up" /></div>
    </form>
  </div>

  <p id="error-message"></p>
  
</div>
