<!-- NEW DECK FORM -->

<!-- IF VALIDATION FAILS ERRORS MESSAGE-->
<div class='container'>
  <div class="deck-crud">
    <h2>Creat a new Deck</h2>
    <form action="/deck/new" method="post">

      <input type="text" name="deck_name" placeholder="Deck Name" autofocus/>

      <button type="submit">Create New Card!</button>
    </form>
  <div>
</div>
