<!-- NEW DECK FORM -->

<!-- IF VALIDATION FAILS ERRORS MESSAGE-->
<div class='container'>
  <div class="deck-crud">
    <h2>Create a New Deck</h2>
    <form action="/deck/new" method="post">

      <input type="text" name="deck_name" placeholder="Deck Name" autofocus/>

      <button id="create-new-deck" type="submit">Create New Deck!</button>
    </form>
  <div>
</div>
