<!-- This is where stats stuff goes for now... -->

<!-- 1. we want to be able to classify decks by their difficulty
2. to do this we can take each deck and find the % correct in each of them
3. we can display this using a D3 bar graphs (the tallest graphs will also be the easiest ones)  -->

<div class="container">
<!-- this is where javascript / D3 goes -->
	

	<%= pie_chart({"Football" => 10, "Basketball" => 5}) %>


</div>