<!-- UPDATE DECK FORM (include delete button) -->

<div class="deck-crud">
  <form action="/deck/new" method="post">

    <input type="text" name="deck_name" placeholder="Deck Name"></input>

    <button type="submit">Create New Deck!</button>
  </form>
<div>
